:root{
  --grey : rgb(168, 168, 168);
  --white : rgb(255, 255, 255);
  --black: hsla(0, 0%, 0%, 1);
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--black);
  color: var(--white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
}

audio.active{
  bottom: 10px;
}

#thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

label.file{
  display: inline-block;
  position: absolute;
  padding: 0.2rem 2rem;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  
  background: var(--white);
  color: var(--black);
  font-size: 1.0em;

  cursor: pointer;
}

label.file:hover{
    background: var(--grey);
}